<form (ngSubmit)="onSubmit()" #formLogIn="ngForm">
  <div class="container col-xxl-8 px-4 py-5">
    <h2>Inicio de Sesión</h2>
    <div class="mb-3">
     
        <label for="UserName" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="UserName" matInput name="nameUser"
          [(ngModel)]="usuario.userName" placeholder="Usuario">
     
    </div>
    <div class="mb-3">
      
        <label for="Password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" matInput name="contrasena" [(ngModel)]="usuario.contrasena" id="Password" placeholder="Contraseña">
        <a style="margin-top: 15px;" href="login/registro">Registrarse</a>

    </div>
    
    <button type="submit" class="btn btn-primary" name="iniciar">Ingresar</button>
  </div>
</form>