<div class="container">
    <h1 class="display-5 fw-bold" style="font-size: 40px; margin-top: 15px; margin-left: 25%;">Administrador De Tareas</h1>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="./assets/home1.jpg" class="d-block mx-lg-auto img-fluid" alt="home" width="700" height="500" loading="lazy" style="border-radius: 20px;">
            </div>
            <div class="col-lg-6" style="text-align: justify;">
                <h1 class="display-5 fw-bold">Bienvenid@!</h1>
                <p class="lead mb-4">Esta aplicación web te permitira administrar sus tareas, horarios y eventos. Usted podrá agregar, modificar y eliminar tareas por hacer, eventos importantes y horarios recurrentes para organizar de mejor manera su tiempo y no olvidar ninguna actividad .</p>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: justify;">
        <div class="container col-sm-4">
            <h2 class="display-5 fw-bold">Tareas</h2>
            <img src="./assets/tarea.jpg" alt="tarea" style="width: 100%; border-radius: 20px; margin-bottom: 15px;">
            <p class="lead mb-4">Si usted requiere realizar multiples actividades una sola vez puede crear una lista de tareas por hacer donde podra registrar de forma sencilla las actividades que realizar para cumplir un objetivo. Por ejemplo, una lista de tareas para completar un trabajo, una lista de compras, etc.</p>
        </div>
        <div class="container col-sm-4">
            <h2 class="display-5 fw-bold">Eventos</h2>
            <img src="./assets/Evento.jpg" alt="tarea"style="width: 100%; border-radius: 20px; margin-bottom: 15px;">
            <p class="lead mb-4">Si usted requiere registrar algun acontecimiento importante al que deseé asistir, puede registrarlo como un evento y acceder a una lista de todos sus eventos facilmente.</p>
        </div>
        <div class="container col-sm-4">
            <h2 class="display-5 fw-bold">Horarios</h2>
            <img src="./assets/horario.jpg" alt="tarea" style="width: 100%; border-radius: 20px; margin-bottom: 15px;">
            <p class="lead mb-4">Si usted requiere registrar multiples actividades en un dia y que esas actividades sean recurrentes (Un horario de colegio por ejemplo) puede crear un horario para cada dia de la semana que se le mostrara rapida y comodamente en el apartado de horarios.</p>
        </div>
    </div>
</div>